.float-socials {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 4em;
  right: 16px;
  z-index: 100;
  
  .hide {
    display: none !important;
  }

  .whatsapp-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #25d366;
      color: #fff;
      font-size: 24px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease-in-out;
      position: relative;
  
      &:hover {
          transform: scale(1.1);
      }
  }

  .waves {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 4px solid #25d366;
      animation: wavesAnimation 1.5s infinite;
  }

  @keyframes wavesAnimation {
      0% {
          transform: scale(0);
          opacity: 0.8;
      }
      100% {
          transform: scale(1.5);
          opacity: 0;
      }
  }

  .badge {
      position: absolute;
      top: -5px;
      right: 0.1em;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}


.btn-whatsapp {
background-color: green;
color: white;
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out;
}

.btn-whatsapp:hover {
transform: scale(1.1);
}

.popup-content {
position: fixed;
display: flex;
flex-direction: column;
z-index: 9999 !important;
justify-content: flex-end;
bottom: 8.5em;
right: 20px;
height: min(550px, 100% - 200px);
min-height: 80px;
width: 400px;
max-width: 90%;
max-height: 704px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
border-radius: 16px;
overflow: hidden;
opacity: 1;
transform-origin: right bottom;
transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s, opacity 83ms ease-out 0s;

.cont-header{
  position: relative;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: 91%;

  .popup-header {
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .profile-image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #ccc;
      margin-right: 10px;
      overflow: hidden;
    }      
    .profile-info {
      flex-grow: 1;
    }
  }

  .popup-body {
    background-image: url(../images/bg-chat.svg);
    width: 100%;
    background-size: 130%;
    background-position: center;
    background-color: #f0eae3;
    //background-color: rgb($primary,30%);
    height: 100%;
    overflow: hidden scroll;

    .chat-background {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;
    }

    .whatsapp-message {
      background-color: $white;
      border-radius: 0px 10px 10px 10px;
      padding: 8px 16px;
      position: relative;
      p{
          font-size: 0.8em;
      }
      &::after {
          content: "";
          position: absolute;
          top: 0px;
          left: -5px;
          transform: translateX(-50%);
          border-left: 0px solid rgb(190 42 42 / 0%);
          border-right: 17px solid $white;
          border-top: 0px solid rgb(112 255 0 / 0%);
          border-bottom: 17px solid rgb(112 255 0 / 0%);
        }        
        .message-content {
          display: block;
        }
    }
  }

}

.popup-footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
}

.typing-animation {
  width: 100%;
  height: 16px;
  background-color: $dark;
  border-radius: 8px;
  animation: typing 1s infinite;
}

@keyframes typing {
0% {
  width: 0;
}
50% {
  width: 100%;
}
100% {
  width: 0;
}
}
